.App {
  text-align: center;
  background-image: radial-gradient(ellipse at top, #1B2735 0%, rgb(26, 29, 44) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}